.card-title-price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 9px;
}

.card-edit-delete{
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    margin-top: auto;
}

.card-description{
    display: flex;
    height: 100px;
    overflow: scroll;
}

.card-content{
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow: auto;
}

.card-overview{
    display: flex !important;
    flex-direction: column !important;
}